<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">
	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
		<a href="/" class="btn btn-default btn-sm">Logout</a>
	</div>
	<div class="row">
		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Local</h3>
					<p>
						<strong>id</strong>: <%= user.ID_Cliente %><br>
						<strong>Username</strong>: <%= user.Username %><br>
						<strong>Password</strong>: <%= user.Palavra_Passe %><br>
						<strong>Email</strong>: <%= user.Email %><br>
						<strong>Nome</strong>: <%= user.Nome %><br>
						<strong>Data de Nascimento</strong>: <%= user.Data_de_Nascimento %><br>
						<strong>Morada</strong>: <%= user.Morada %><br>
						<strong>Localidade</strong>: <%= user.Localidade %><br>
						<strong>Codigo Postal</strong>: <%= user.Codigo_Postal %><br>
						<strong>Pais</strong>: <%= user.Pais %><br>
						<strong>Tipo de Cliente</strong>: <%= user.Tipo_de_Cliente %><br>
						<strong>Contato</strong>: <%= user.Contacto %><br>
					</p>

			</div>
		</div>

	</div>

</div>
</body>
</html>